id_rsa*

# Packer
*.pem

# Ansible
ansible/roles/
*.retry
secrets.yml

## Terraform ##
*.tfvars
!backend.tfvars
# Compiled files
*.tfstate*
# Module directory
.terraform/
#Unencrypted secret environment
secret-env-plain
